@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100dvh;
    width: 100dvw;
    background-color: rgb(133, 121, 175);
}

.container {
    display: grid;
    padding: 1rem 5rem 1.5rem; /*H LES CÔTES B*/
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    position: relative;
    top: 25%;
    font-family: 'Playfair Display', serif;
    overflow: hidden;
}

.item_image {
    height: 400px;
    width: 600px;
    padding: 1rem 0rem 1rem;
}

.content {
    display: block;
    padding: 1rem 0rem 1rem;
}

.item_name {
    font-size: 2.5rem;
}

.item_date {
    font-size: 1.3rem;
    font-weight: 500;
}

.item_descr{
    font-weight: 600;
}

.item_actionBtn{
    font-weight: 900;   
    font-size: 1.2rem;
    height: auto;
    background: transparent;
    padding: 1rem 3rem 1rem;
    border-radius: 30px;
    display: grid;
    grid-template-rows: auto auto auto;
    text-align: center;
    position: relative;
    top: 30px;
    border: solid black 1px;
    left: 12rem;
    cursor: pointer;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 100%;
	pointer-events: none;
	grid-template-rows: repeat(2); /*repeat(2,1fr)*/
}

.overlay__row {
	transform: scaleY(0);
	will-change: transform;
}

.overlay__row:first-child {
	transform-origin: 50% 0%; /*H puis V*/
}

.overlay__row:last-child {
	transform-origin: 50% 100%;
}